
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1 class="text-center mb-3"><%= defaultSettings.appName %></h1>
      <p><img class="text-center" width="50%" src="images/logo.png" /></p>
      <%- include('./partials/messages') %>
      <p>Your server is setup and will now reboot in 5 seconds. Please wait...</p>
    </div>
  </div>
</div>
<script src="/js/lib/modules/workers/serverAliveCheck.js" type="module"></script>